dist/
CheatTable/Files/
__pycache__
/.vs/Elden-Ring-CT-TGA/CopilotIndices/17.14.1561.44479
/.vs/Elden-Ring-CT-TGA/FileContentIndex
/.vs/Elden-Ring-CT-TGA/v17/.wsuo
/.vs/Elden-Ring-CT-TGA/v17/Browse.VC.db
/.vs/Elden-Ring-CT-TGA/v17/Browse.VC.db-shm
/.vs/Elden-Ring-CT-TGA/v17/Browse.VC.db-wal
/.vs/Elden-Ring-CT-TGA/v17/Browse.VC.opendb
/.vs/Elden-Ring-CT-TGA/v17/DocumentLayout.backup.json
/.vs/Elden-Ring-CT-TGA/v17/DocumentLayout.json
/.vs/Elden-Ring-CT-TGA/v17/workspaceFileList.bin
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
